body
{
font-family: Arial;
background-color:#f5f1eb;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;
}

.container,
.login-container
{
background:white;

padding:30px;

border-radius:10px;

box-shadow:0 5px 20px rgba(0,0,0,0.2);

width:400px;
}

h1
{
text-align:center;
}

input
{
width:100%;
padding:10px;
margin:10px 0;
border-radius:6px;
border:1px solid #ccc;
}

button
{
padding:10px;
margin:5px;
border:none;
background:#8b7355;
color:white;
border-radius:6px;
cursor:pointer;
}

button:hover
{
background:#6e5a42;
}

ul
{
list-style:none;
padding:0;
}

li
{
background:#eee;
margin:8px 0;
padding:10px;
display:flex;
justify-content:space-between;
border-radius:6px;
}

.completed
{
text-decoration:line-through;
opacity:0.6;
}